
.footer {
    width: 100%;
    background: #E27B00;
    padding: 36px 0;
    font-family: Raleway, Helvetica, sans-serif;
}

.footer > div {
    height: 100%;
}

.icons:before {
    content: "";
    display: block;
    width: 50%;
    background-color: white;
    margin: 5px auto;
    border-bottom: 2px solid white;
}

.footer_menu {
    text-align: center;
}

.footer_menu li {
    transition: 0.5s;
}

.footer_menu li:hover {
    transform: scale(1.25);
}

.footer_list {
    list-style-type: none;
}

.footer_list li {
    display:inline-block;
    padding: 36px 48px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.footer_list a{
    text-decoration: none;
    color: white;
}

.icons {
    width: 100%;
    text-align: center;
}

.icon_menu {
    margin-top: 24px;
}

.icon_menu img {
    display: block;
    padding: 20px;
    width: 80px;
    height: 80px;
    transition: 0.5s;
}

.icon_menu img:hover {
    transform: scale(1.4);
}

.icon_menu li {
    list-style-type: none;
    display:inline-block;
}

.createdby {
    display: flex;
    margin-top: 16px;
    align-items: center;
}

#c2019 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 33%;
}

#hay {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    font-style: italic;
}

#by {
    text-align: right;
    font-size: 20px;
    font-weight: normal;
    margin-right: 50px;
    margin-left: 25%;
}

.top {
    width: 50px;
    position: fixed;
    right: 50px;
    bottom: 100px;
    transition: 0.5s;
    border-radius: 100px;
}

.top:hover {
    background-color: white;
    border-radius: 50%;
    transform: rotate(180deg);
}